body {
  color: #666;
  background-color: #fefefe;
}

.login, .register {
  width: 360px;
  margin:10px;
  float:left;
}

h2, h3, p {
  text-align:center;
}

p {
  margin-top:-20px;
}
.wrapperoni {
  width:370px;
  margin:auto;
  font-family: "Open Sans";
}

.pure-button {
  background-color: #e74c3c;
}

.hidden {
  display:none;
}

.backwrap {
  position:relative;
  top:0;
  left:0;
  overflow:hidden;
}
.backButton {
  position:absolute;
  top:30px;
  left:10px;
}
a, a:visited {
  color:#ea2f29;
}
a:hover {
  color:#a60b05;
}
