<?php
//This file contains an example of the database connection
//Please edit the values and then remove the .EXAMPLE from the filename

$servername = "";
$username = "";
$password = "";
$db = ""

try {
    $connection = new PDO(
    "mysql:host=$servername;dbname=$db;mysql:charset=utf8",
    $username,
    $password);
    $connection->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
	  $connection->exec("SET NAMES utf8");
  }
catch(PDOException $e) {
    echo "Connection failed: " . $e->getMessage();
}
header('Content-Type: text/html; charset=utf-8');
global $_SESSION;
session_start();
